In [1]:
#import libraries
import pandas as pd
import os
from matplotlib import pyplot as plt
from matplotlib.pyplot import figure
from scipy import stats
import scipy 
import numpy as np
from tqdm.notebook import tqdm
from torch import nn, optim

import time  
import torch 
import random
import torch.nn.functional as F
from sklearn.model_selection import train_test_split
from torch.utils.data import Dataset
from torch.utils.data import DataLoader
from datetime import date
import pickle
import sys
from pathlib import Path

In [2]:
################################################################################################
folder_name = r'C:\Users\Rania\Desktop\GED issue' #MARKUS: Add the path of folder the file is in
################################################################################################
os.chdir(folder_name)
cwd = os.getcwd()
################################################################################################
file_name = r'RP9534 V2 BF T1-5.xlsx' #MAKUS: ADD file name
################################################################################################

In [3]:
new_table = pd.read_excel(file_name, usecols=[0,1,114,117])

In [4]:
new_table

,Time,Trials,Local Gyroscope - COSMOS Pitch Left leg,Local Gyroscope - NEO Pitch Right leg
0,0.00,0,0.12347,0.12978
1,0.01,0,0.08548,0.17300
2,0.02,0,-0.03153,-0.04409
3,0.03,0,0.02098,0.15778
4,0.04,0,-0.20935,0.00355
...,...,...,...,...
43427,434.27,0,108.95163,-29.92910
43428,434.28,0,133.14757,-30.80497
43429,434.29,0,156.86546,-31.28800
43430,434.30,0,179.70151,-30.43559
43431,434.31,0,201.15209,-29.11834

In [5]:
new_table.rename(columns={new_table.columns[2]: "GyroL", new_table.columns[3]: "GyroR"}, inplace=True)
new_table

         Time  Trials      GyroL     GyroR
0        0.00       0    0.12347   0.12978
1        0.01       0    0.08548   0.17300
2        0.02       0   -0.03153  -0.04409
3        0.03       0    0.02098   0.15778
4        0.04       0   -0.20935   0.00355
...       ...     ...        ...       ...
43427  434.27       0  108.95163 -29.92910
43428  434.28       0  133.14757 -30.80497
43429  434.29       0  156.86546 -31.28800
43430  434.30       0  179.70151 -30.43559
43431  434.31       0  201.15209 -29.11834

[43432 rows x 4 columns]

In [6]:
trials = new_table['Trials'].unique()

In [8]:
for t in trials:
    if t == 0:
        continue

    
    sub_table = new_table.loc[new_table['Trials'] == t]
    table_to_export = sub_table.drop(columns='Trials')

    # index = file.find('Task') + 6

    ################################################################################################
    out_folder_name = r'C:\Users\Rania\Desktop\GED issue\task 1 export'  #MARKUS: Add the path of the folder you want to save in
    ################################################################################################
    out_file_name = out_folder_name + '/' + 'T' + str(t) + ' ' + file_name
    table_to_export.to_excel(out_file_name, index=False)  #export data to csv
    print(f'exported {out_file_name} successfully')

exported C:\Users\Rania\Desktop\GED issue\task 1 export/T1 RP9534 V2 BF T1-5.xlsx successfully
exported C:\Users\Rania\Desktop\GED issue\task 1 export/T2 RP9534 V2 BF T1-5.xlsx successfully
exported C:\Users\Rania\Desktop\GED issue\task 1 export/T3 RP9534 V2 BF T1-5.xlsx successfully
exported C:\Users\Rania\Desktop\GED issue\task 1 export/T4 RP9534 V2 BF T1-5.xlsx successfully
exported C:\Users\Rania\Desktop\GED issue\task 1 export/T5 RP9534 V2 BF T1-5.xlsx successfully
exported C:\Users\Rania\Desktop\GED issue\task 1 export/T6 RP9534 V2 BF T1-5.xlsx successfully
exported C:\Users\Rania\Desktop\GED issue\task 1 export/T7 RP9534 V2 BF T1-5.xlsx successfully
exported C:\Users\Rania\Desktop\GED issue\task 1 export/T8 RP9534 V2 BF T1-5.xlsx successfully
exported C:\Users\Rania\Desktop\GED issue\task 1 export/T9 RP9534 V2 BF T1-5.xlsx successfully
exported C:\Users\Rania\Desktop\GED issue\task 1 export/T10 RP9534 V2 BF T1-5.xlsx successfully